---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import { PagePathEnum } from '../models/pagePath';

interface Props {
  project: CollectionEntry<'work'>;
}

const { data, slug } = Astro.props.project;
---

<li
  class="rounded-2xl border-2 border-transparent [box-shadow:1px_1px_11px_-5px] [transition:all_linear_0.15s] hover:border-violet-600 dark:bg-[#222]"
>
  <a href={`${PagePathEnum.Projects}/${slug}`} class="block p-7 pb-10">
    <Image
      src={data.img}
      alt={data.img_alt || ''}
      loading="lazy"
      decoding="async"
      height={204}
      width={256}
      class={'mx-auto h-[204px]'}
    />
    <h3 class="text-xlg left-2 top-2 max-w-full rounded-md py-2 font-bold">
      {data.title}
    </h3>
    <p class="py-2">
      {data?.description}
    </p>
    <button
      class="w-full whitespace-nowrap rounded-md py-3 text-center text-xl font-semibold text-violet-600 [transition:all_linear_0.2s] hover:text-violet-500 hover:underline"
      >Learn More</button
    >
  </a>
</li>
<!-- <li
  class="rounded-2xl border-2 border-transparent [box-shadow:1px_1px_11px_-5px] [transition:all_linear_0.15s] hover:border-violet-600"
>
  <a
    href={`${PagePathEnum.Projects}/${slug}`}
    class="inline-block cursor-pointer rounded-t-2xl py-7 pb-12"
  >
    <figure class="flex w-full items-center rounded-t-2xl">
      <Image
        src={data.img}
        alt={data.img_alt || ''}
        loading="lazy"
        decoding="async"
        height={204}
        width={256}
        class={'title   mx-auto'}
      />
    </figure>
    <h3 class="rounded-mdtext-2xl mt-4 font-bold">
      {data.title}
    </h3>
  </a>
  <footer class="border-t-2 border-violet-600 px-6 py-4">
    <h3 class="text-xlg left-2 top-2 max-w-full rounded-md py-2 font-bold">
      {data.title}
    </h3>
    <p class="py-2">
      {data?.description}
    </p>
    <div class="bottom-4 left-1/2 flex">
      {
        data?.github && (
          <a
            href={data?.github}
            target="_blank"
            class="mr-4 rounded-lg bg-violet-600 p-2 text-white transition-all hover:scale-105 hover:text-light-blue"
          >
            <svg
              width="24"
              height="23"
              viewBox="0 0 24 23"
              xmlns="http://www.w3.org/2000/svg"
              class="fill-current"
            >
              <path
                d="M14.789 22.9219c.1407.125.336.1562.586.0937 2.3437-.7812 4.2421-2.1953 5.6953-4.2422 1.453-2.0468 2.1796-4.3671 2.1796-6.9609 0-2.125-.5312-4.078-1.5937-5.8593-1.0313-1.7188-2.4531-3.0782-4.2656-4.0782s-3.7813-1.5-5.9063-1.5c-2.1562 0-4.1093.5-5.8593 1.5S2.5 4.25 1.5 6 0 9.6875 0 11.8125c0 2.5938.7344 4.914 2.2031 6.961 1.4688 2.0468 3.3906 3.4609 5.7656 4.2421.25.0625.4453.0313.586-.0937.1406-.125.2109-.2813.2109-.4688l-.0469-2.8593-.5156.0468c-.4062.0625-.7969.0782-1.1719.0469-.5312-.0625-.9843-.2031-1.3593-.4219-.4375-.25-.7344-.6093-.8907-1.078l-.1875-.375c-.125-.2813-.2812-.5313-.4687-.75-.2188-.2813-.4375-.4845-.6563-.6095l-.2343-.1875c-.1563-.125-.2266-.2422-.211-.3515.0157-.1094.1953-.164.539-.164l.3282.0468c.25.0937.4844.2031.7031.3281.3125.2188.5625.5.75.8438.4375.7812 1.0625 1.203 1.875 1.2656.5.0625 1.0157-.0313 1.5469-.2813.0937-.6875.3437-1.2187.75-1.5937-1.125-.125-1.9687-.2813-2.5312-.4688-.875-.3125-1.5313-.7968-1.9688-1.453-.5-.7813-.75-1.875-.75-3.2813 0-.5938.086-1.086.2578-1.4766.1719-.3906.4453-.8203.8203-1.289-.125-.2813-.1875-.6407-.1875-1.0782-.0625-.6875.047-1.375.3282-2.0625.2812-.0937.703-.0312 1.2656.1875.4062.1563.8594.375 1.3594.6563l.6093.4219c.9375-.2813 1.914-.422 2.9297-.422 1.0156 0 2.0078.1407 2.9766.422l.6093-.422c.5-.2812.9375-.5 1.3125-.6562.5625-.2187 1-.2812 1.3125-.1875.25.6875.3594 1.375.3282 2.0625-.0313.4375-.1094.8125-.2344 1.125.4375.4688.7344.8594.8906 1.1719.2187.4375.3281.9531.3281 1.5469 0 1.4062-.2656 2.5156-.7968 3.328-.4688.625-1.1407 1.0938-2.0157 1.4063-.5625.1875-1.4218.3438-2.578.4688.5312.4375.7968 1.1562.7968 2.1562v3.9375c0 .1875.0703.3438.211.4688zm-9.6093-5.3906c.0469.0312.086.0312.1172 0 .0937-.0625.0937-.1563 0-.2813-.0313-.0625-.0703-.1016-.1172-.1172-.0469-.0156-.1016-.0078-.164.0235-.0626.0312-.0626.125 0 .2812a1.533 1.533 0 01.164.0938zm.4453.6093c.125.125.2344.1407.3281.047.0313-.0313.039-.0782.0235-.1407a.3477.3477 0 00-.0938-.164.3477.3477 0 00-.164-.0938c-.0626-.0157-.1094-.0078-.1407.0234-.0312.0313-.0469.0781-.0469.1406s.0313.125.0938.1875zm1.0156.5365l.0625-.0208c.0625-.0313.1016-.086.1172-.1641.0156-.0781-.0547-.1406-.211-.1875-.1562-.0469-.25-.0078-.2812.1172-.0312.0312-.0234.0703.0235.1172a.6257.6257 0 00.164.1172c.0625.0312.125.0312.1875 0l-.0625.0208zm1.7969.026c.1562-.0625.2265-.1406.211-.2343-.0157-.0938-.1017-.1407-.2579-.1407-.1562.0313-.2266.0938-.211.1875.0157.0938.047.1485.0938.164.0469.0157.1016.0235.164.0235zm-.9929.1192l.0788-.002c.1719-.0156.2578-.086.2578-.211 0-.0312-.0234-.0624-.0703-.0937-.0469-.0312-.1172-.0468-.211-.0468-.1562 0-.2343.0625-.2343.1875s.086.1796.2578.164l-.0788.002z"
                fill='fillcurrent"'
                fill-rule="nonzero"
                opacity=".7485"
              />
            </svg>
          </a>
        )
      }
      {
        data?.live && (
          <a
            href={data?.live}
            target="_blank"
            class="mr-4 rounded-lg bg-violet-600 p-2 text-white transition-all hover:scale-105 hover:text-light-blue"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="currentcolor"
            >
              <path
                d="M12 9C11.2044 9 10.4413 9.31607 9.87868 9.87868C9.31607 10.4413 9 11.2044 9 12C9 12.7956 9.31607 13.5587 9.87868 14.1213C10.4413 14.6839 11.2044 15 12 15C12.7956 15 13.5587 14.6839 14.1213 14.1213C14.6839 13.5587 15 12.7956 15 12C15 11.2044 14.6839 10.4413 14.1213 9.87868C13.5587 9.31607 12.7956 9 12 9ZM12 17C10.6739 17 9.40215 16.4732 8.46447 15.5355C7.52678 14.5979 7 13.3261 7 12C7 10.6739 7.52678 9.40215 8.46447 8.46447C9.40215 7.52678 10.6739 7 12 7C13.3261 7 14.5979 7.52678 15.5355 8.46447C16.4732 9.40215 17 10.6739 17 12C17 13.3261 16.4732 14.5979 15.5355 15.5355C14.5979 16.4732 13.3261 17 12 17ZM12 4.5C7 4.5 2.73 7.61 1 12C2.73 16.39 7 19.5 12 19.5C17 19.5 21.27 16.39 23 12C21.27 7.61 17 4.5 12 4.5Z"
                fill="currentcolor"
              />
            </svg>
          </a>
        )
      }
    </div>
  </footer>
</li> -->
<style>
  a:hover + li {
    border-color: rgb(124, 58, 237);
  }
</style>
